@model Ciciovan_Bogdan_Ionut_HotelReservations.Models.Booking

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfWeekendNights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfWeekendNights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfWeekNights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfWeekNights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfAdults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfAdults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfChildren)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfChildren)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredCarParking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredCarParking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfSpecialRequests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfSpecialRequests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgPricePerRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgPricePerRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketSegmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketSegmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType.RoomTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealPlan.PlanName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BookingId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
